.sticky-navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.navbar{
    width: 88vw;
}

.navbar-nav{
    margin-left: 800px;
    overflow-x: hidden;
}
.navbar{
    overflow-x: hidden;
    width: 100vw;
}
.navbar a{
    color: black;
}

.navbar-nav a:hover{
    background-color: rgb(36, 0, 199);
    color: white;
    transition: .45s;
}
.navbar-nav .btn{
    border-radius: 3px;
    padding-top: 1px;
    padding-bottom: 1px;
}
.ab{
    background-color: rgb(240, 248, 255);
    overflow-x: hidden;
}
.caro1 h1{
    margin-left: 100px;
    font-weight: 500;
}
.caro1 .yj{
    margin-top: 200px;
}
.caro1 h6{
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 250px;
    color: rgb(88, 88, 88);
}
.btn1{
    background-color: rgb(18, 18, 129);
    color: white;
    border-radius: 22px;
    margin-left: 100px;
    margin-top: 35px;
}
.ev{
    background-color: rgb(93, 155, 22); 
}
.st{
    background-color: rgb(108, 173, 34);
}
.carousel{
    position: relative;
}
.row1{
    position: absolute;
    left: 20%;
    bottom: 0;
    width: 60%;
    
}
.coli img{
    width: 400px;
    border-radius: 6px;
    margin-top: 90px;
    margin-left: 120px;
}
.about{
    height: auto;
}
.wel{
    color: rgb(0, 0, 167);
    margin-top: 90px;
}
.lead{
    font-weight: 500;
}
.welc{
    color: rgb(41, 41, 41);
    font-size: 16px;
}
.be{
    font-size: 15px;
    color: rgb(112, 112, 112);
}
.be{
    line-height: 25px;
}
.about h6{
    margin-right: 80px;
}
.bio{
    color: rgb(0, 96, 240);
}
.btn2{
    background-color: rgb(18, 18, 129);
    color: white;
    border-radius: 22px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: 25px;
}
.dele{
    background-color: rgb(194, 205, 214);
    text-align: center;
    height: 50vh;
}
.rw1{
    background: transparent;
}
.mak .btn{
    background-color: rgb(104, 184, 0);
    color: white;
    text-decoration: none;
    margin-left: 580px;
    border-radius: 0;

}
.mak .btn:hover{
    background-color: rgb(2, 2, 255);
    transition: .25s;
    color: white;
    text-decoration: none;
}
.mak.btn{
    text-decoration: none;
    display: flex;
  

}
.di{
    padding-top: 70px;
}
.end{
    width: 100vw;
    background-color: rgb(212, 221, 221);
    overflow: hidden;
    text-align: center;
    height: 50px;
}
.end h6{
    padding-top: 20px;
    padding-bottom: 20px;
    color: rgb(112, 112, 112);
}
.card{
    height: 200px;
    border-radius: 0;
}
.img1{
    margin-left: 62px;
    margin-top: 50px;
}
.enquery{
    height: 100vh;
}
.enquery h1{
    margin-left: 250px;
}
.em{
    margin-top: 200px;
}
.at{
    margin-left: 250px;
    margin-bottom: 30px;
}
.tik{
    margin-left: 250px;
}
.btn3{
    background-color: rgb(18, 18, 129);
    color: rgb(224, 236, 236);
    border-radius: 22px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: 25px;
    margin-left: 250px;
}.footer{
    height: 67vh;
    background-color: rgb(223, 233, 236);
}
.rw2{
    width: 67%;
    height: 19%;
}
.col9{
    background-color: rgb(124, 177, 38);
}
.col91{
    background-color: rgb(124, 177, 38);
}
.btn4{
    border-radius: 23px;
    padding-left: 35px;
    padding-right: 35px;
    color: rgb(124, 177, 38);
}
.rw3{
    width: 75%;
    margin-top: 100px;
    margin-left: 250px;
}
.rw3 img{
    width: 11vw;
}
.rw3 h6{
    margin-top: 11px;
    color: rgb(112, 112, 112);
}
.rw4{
    width: 240px;
}

